.progress-bar-container--container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
}


.flex.col-2 {
  @include flexbox;
  align-items: flex-start;
  overflow: hidden;

  .ps {
    height: calc(100vh - 4.9rem);
  }

  >div {
    height: 100%;
    overflow: auto;
  }

  .img_wrap {
    flex: 0 0 35%;
  }

  .contents_wrap {
    flex: 0 0 65%;
    padding: 1.5rem 3rem 2rem;
    text-align: left;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
}

.container {
  >div {
    padding: 8.5rem 0 0;
  }
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  padding: 2rem;
  font-size: 1.6rem;
  box-shadow: 0px 7px 10px #dddddd;
  background: #fff;

  .navinner {
    @include flexbox;
    width: 102.4rem;
    margin: 0 auto;

  }

  a {
    display: block;
    margin: 0 1rem;
    padding: 1rem;
    color: $textColor;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;

    &.router-link-exact-active {
      color: $pointColor;
    }
  }

  a.logoico {
    padding-left: 4.8rem;
    color: $pointColor;
    font-size: 2rem;
    font-weight: 700;
  }

  .menus {
    @include flexbox;
  }

  .button {
    margin-left: 2rem;
  }
}

.logoico {
  display: block;
  width: 7.9rem;
  height: 4.5rem;
  background: url(../assets/images/logo.svg) no-repeat center center;
}

/* Router page Transition */
.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .75s ease-in-out;
}

.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter {
  transform: translateY(5vw);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .75s ease;
}

.slide-fade-leave-to {
  transform: translateY(-5vw);
  opacity: 0;
}

.container {
  @include contentsWrap;
  position: relative;

  img {
    max-width: 100%;
  }

  >div {
    max-width: 1025px;
    align-items: center;
    padding: 13.5rem 0 0;
    margin: 0 auto;
  }

  h2 {
    @include texttype1;
    text-align: left;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -0.75px;
  }
}

.container.-full {
  >div {
    width: 100%;
    max-width: unset;
  }
}

.pageContens {
  font-size: 1.8rem;
}

.title_desc {
  margin-bottom: 3rem;
  text-align: left;
}

.vue-container+.guidewrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 10rem;
  padding: 1.5rem;
  border-radius: .8rem;
  background: #fff;
  box-shadow: 6px 5px 10px rgb(0 0 0 / 30%);
}

.guidewrap {
  .boxs {
    font-size: 1.8rem;
  }
}

.listsup {
  @include contentsWrap;

  table {
    width: 100%;
    margin-top: 5rem;
    border-collapse: collapse;

    caption {
      overflow: hidden;
      width: 1px;
      height: 1px;
      margin: 0 0 -1px;
      padding: 0;
      border: 0;
      white-space: nowrap;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
    }

    thead th {
      @include texttype2;
      padding: 1.4rem 0;
      border: 1px solid $pointColor;
      color: #fff;
      font-weight: 400;
      background: $pointColor;
    }

    tbody th {
      padding: 1.4rem 0;
      border: 1px solid $textColor;
      border-bottom: 1px solid $pointColor;
      border-left: none;
      font-weight: 400;
    }

    tbody td {
      border: 1px solid $textColor;
      border-bottom: 1px solid $pointColor;
      font-weight: 400;
      @include texttype3;

      &:last-child {
        border-right: none;
      }
    }
  }
}

footer {
  background: $textColor;
  color: $white;
  padding: 1.7rem 0;
  text-align: center;
  font-size: 1.2rem;
  color: #cdcdcd;
  letter-spacing: -0.75px;
}


.portfolios {
  padding: 5.5rem 0;

  >div {
    position: relative;
    @include contentsWrap;
    @include flexbox;
    width: 102.5rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  h2 {
    @include texttype1;
    text-align: left;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -0.75px;
    line-height: 1;
    margin-bottom: 1.4rem
  }

  .button.viewmore3 {
    position: absolute;
    top: 5rem;
    right: 1rem;
  }

  ul {
    @include flexbox;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;

    li {
      position: relative;
      width: 29%;
      color: $pointColor;
      background: #fff;
      box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      overflow: hidden;
      margin-right: 6.4%;
      margin-bottom: 5rem;
      transition: .45s ease all;

      a {
        display: block;
        width: 100%;
        height: 100%;

        .image {
          overflow: hidden;
          width: 100%;
          height: 30rem;
          transition: .42s ease all;

          img {
            display: block;
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: auto;
            width: 100%;
          }
        }

        .texts {
          padding: 2.4rem 1rem;
        }

        .title,
        .title2 {
          width: 100%;
          font-weight: 400;
          margin-bottom: .7rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 2.2rem;
          line-height: 1;
          color: #101010;
        }

        .title2 {
          font-weight: 500;
        }

        .hashes {
          color: $pointColor;
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
    }

    li:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.container>div.portfolios__title {
  padding: 10rem 0 2rem;
  text-align: center;
  border-bottom: 2px solid #0ec8b9;

  h2 {
    text-align: center;
    margin-top: 1rem;
  }
}

.container>div.portfolios__view {
  width: 100%;
  max-width: 128rem;
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.portfolios__img {
  width: 50%;

  img {
    display: block;
    max-width: 100%;
  }
}

.portfolios__desc {
  width: 50%;
  position: sticky;
  top: 9rem;
  right: 0;
}

.ptf__list {
  li {
    margin: .8rem 0;
  }
}



.black-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  padding: 20px;
  z-index: 99999;
}

.white-bg {
  width: 100%;
  background: white;
  border-radius: 8px;
  padding: 20px;
}


.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  background: rgba(0, 0, 0, 0.3);
  animation: fadeIn .75s ease forwards;
  opacity: 0;

  @keyframes fadeIn {
    to {
      opacity: 1;
    }

  }

  >div {
    width: 100%;
    max-width: 60rem;
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
  }

  .h1 {
    font-size: 2.6rem;
    margin: 2rem 0 1rem;
    font-weight: 700;
  }

  .h2 {
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
    font-weight: 500;
  }

  #dialog_description {
    font-size: 1.8rem;
    line-height: 1.625;
  }


  button {
    display: block;
    margin-top: 2rem;
    width: 16.5rem;
    height: 4.4rem;
    border-radius: .5rem;
    border: none;
    font-family: inherit;
    color: #fff;
    background-color: #ccc;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
  }

  button:focus {
    outline: none;
    border: 0.0625rem solid transparent;
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem #333;
  }

  button.cta {
    background-color: #0ec8b9;
    color: white;
  }

  button.cta:focus {
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem #333;
  }

  .flex {
    display: flex;
  }

  .flex.center {
    justify-content: center;
  }

  .button+.button {
    margin-top: 1rem;
    margin-left: 2rem;
  }
}

.portfolios__contents {
  padding: 2rem;

  .ptf__list {
    list-style: none;
    text-align: left;

    li {
      display: flex;
      font-weight: 600;

      span:first-child {
        flex: 0 0 8rem;
      }
    }
  }

  .ptf__list+div {
    width: 100%;
    text-align: left;
    font-weight: 600;

    >div {
      margin-top: 1rem;
    }
  }
}

.title_desc.mb10 {
  margin-bottom: 1rem;
}

.reviewtxt {
  line-height: 2.1;
}




.portfolios__title {
  .button.goback {
    opacity: 0;
    animation: backbutton 1s ease .5s forwards;
  }

  h2,
  h3 {
    opacity: 0;
    animation: title .5s ease .5s forwards;
  }

  h3 {
    animation-delay: .85s;
  }
}

.portfolios__view {
  .portfolios__img {
    opacity: 0;
    animation: ptfimg 1s ease .5s forwards;
  }

  .ptf__list {
    li {
      overflow: hidden;

      span,
      div {
        transform: translateY(10rem);
        animation: ptflist 1s ease .5s forwards;
      }
    }
  }

  .portfolios__contents>div {
    opacity: 0;
    animation: ptfdetail 1s ease 1.5s forwards;
  }
}

.v_listup {
  opacity: 0;
  animation: title 1s ease .5s forwards;
}

@keyframes backbutton {
  from {
    opacity: 0;
    background-position-x: 9rem;
    transform: translateX(4.5rem);
  }

  to {
    opacity: 1;
    background-position-x: center;
    transform: translateX(0);
  }

}

@keyframes title {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ptfimg {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes ptflist {
  from {
    transform: translateY(10rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes ptfdetail {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}