@import './reset.scss';

.pageContens {
  padding-top: 8.5rem;
  padding-bottom: 5rem;
  min-height: 80rem;
  font-size: 1.8rem;
}
.title_desc {
  margin-bottom: 3rem;
}
.vue-container + .guidewrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10rem;
    padding: 1.5rem;
    border-radius: .8rem;
    background: #fff;
    box-shadow: 6px 5px 10px rgb(0 0 0 / 30%);
}
.guidewrap {
    .boxs {
        font-size: 1.8rem;
    }
}
.listsup {
  @include contentsWrap;
  table {
    width: 100%;
    margin-top: 5rem;
    border-collapse: collapse;
    caption {
      overflow: hidden;
      width: 1px;
      height: 1px;
      margin: 0 0 -1px;
      padding: 0;
      border: 0;
      white-space: nowrap;
      clip: rect(1px,1px,1px,1px);
      clip-path: inset(50%);
    }
    thead th {
      @include texttype2;
      padding: 1.4rem 0;
      border:1px solid $pointColor;
      color: #fff;
      font-weight: 400;
      background: $pointColor;
    }
    tbody th {
      padding: 1.4rem 0;
      border:1px solid $textColor;
      border-bottom: 1px solid $pointColor;
      border-left: none;
      font-weight: 400;
    }
    tbody td {
      border:1px solid $textColor;
      border-bottom: 1px solid $pointColor;
      font-weight: 400;
      @include texttype3;
      &:last-child {
        border-right: none;
      }
    }
  }
}

footer {
  background: $textColor;
  color: $white;
  padding: 1.7rem 0;
  text-align: center;
  font-size: 1.2rem;
  color: #cdcdcd;
  letter-spacing: -0.75px;
}