@import './reset.scss';

$bgColor : white;
$pointColor: #41b883;
$primarayColor : #273849;
$secondaryColor: #36495e;
$error: '#b71c1c';

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoico {
  display: block;
  padding-left: 2rem;
  background: url("../assets/images/logo.svg") no-repeat 0 0;
}
#nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    padding: 2rem;
    font-size: 1.6rem;
    background: $bgColor;
    box-shadow: 6px 5px 10px rgb(0 0 0 / 30%);
    a {
        display: block;
        font-weight: 500;
        color: $primarayColor;
        text-decoration: none;
        padding: 1rem;
        margin: 0 1rem;
        &.router-link-exact-active {
            color: $pointColor;
        }
    }
    a.logoico {
      font-size: 2rem;
      color: $pointColor;
      padding-left: 4.8rem;
      font-weight: 700;
    }
}
.pageContens {
    padding: 2rem 3rem;
    min-height: 50rem;
}
.vue-container + .guidewrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10rem;
    background: #fff;
    box-shadow: 6px 5px 10px rgb(0 0 0 / 30%);
    padding: 1.5rem;
    border-radius: .8rem;
}
.guidewrap {
    .boxs {
        font-size: 1.8rem;
    }
}

.darkmode-toggle {
  transition: .3s ease all;
  input {
    opacity: 0;
    position: absolute;
    &:checked + .toggle-slider {
      background: #fff;
      &:after {
          left: 3.4rem;
          background-image: url("../assets/images/moon.svg");
      }
    }
  }
  .toggle-slider {
    cursor: pointer;
    display: flex;
    width: 6.7rem;
    position: relative;
    border-radius: 25px;
    height: 3.2rem;
    border: 2px solid $pointColor;
    background: $primarayColor;
    @media (prefers-reduced-motion: no-preference) {
      transition: all 300ms ease-in;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: calc(50% - 1.45rem);
      left: .3rem;
      border-radius: 50%;
      background-image: url("../assets/images/sun.svg");
      background-size: 2.4rem;
      background-repeat: no-repeat;
      background-position: center center;
      @media (prefers-reduced-motion: no-preference) {
        transition: all 300ms ease-in;
      }
    }
  }
}

.tools {
  margin-bottom: 3.5rem;
  ul {
    justify-content: space-between;
    list-style: none;
    text-align: center;
    li {
      width: 33.333%;
      font-size: 2rem;
      font-weight: bold;
      color: $primarayColor;
    }
  }
  img {
    display: block;
    height: 12rem;
    margin: 0 auto 2rem;
  }
}


.vueHome {
  > div {
    h1 {
      font-size: 3.4rem;
      margin-bottom: 1.6rem;
    }
    p {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
}