@import './reset.scss';

$bgColor : #fff;
$pointColor: #000;
$primarayColor : #333;
$secondaryColor: #fff;
$error: #b71c1c;

.logoico {
  display: block;
  padding-left: 2rem;
  background: url("../assets/images/logo.svg") no-repeat 0 0;
}
#nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    padding: 2rem;
    font-size: 1.6rem;
    background: $bgColor;
    z-index: 999;
    @include flexbox;
    a {
        display: block;
        font-weight: 500;
        color: $pointColor;
        text-decoration: none;
        padding: 1rem;
        margin: 0 1rem;
        &.router-link-exact-active {
            color: $pointColor;
        }
    }
    a.logoico {
      font-size: 2rem;
      color: $pointColor;
      padding-left: 4.8rem;
      font-weight: 700;
    }
    .menus {
      @include flexbox;
    }
}
.pageContens {
  font-size: 1.8rem;
  padding: 2rem 3rem;
  min-height: 80rem;
}
.title_desc {
  margin-bottom: 3rem;
}
.vue-container + .guidewrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10rem;
    background: #fff;
    box-shadow: 6px 5px 10px rgb(0 0 0 / 30%);
    padding: 1.5rem;
    border-radius: .8rem;
}
.guidewrap {
    .boxs {
        font-size: 1.8rem;
    }
}
.vueHome {
  @include contentsWrap;
  margin-bottom: 14rem;
  > div {
    h2 {
      font-size: 14rem;
      line-height: 100%;
      margin-bottom: 1.6rem;
      text-align: center;
      margin: 14rem 0;
    }
    p {
      font-size: 2.4rem;
      line-height: 1.4;
      letter-spacing: .75px;
    }
    #count {
      margin: 2rem 0;
    }
    .highlight {
      color: #4fc497;
      font-weight: 700;
      font-size: 4.5rem;
      margin: 0 1rem;
    }
  }
  .tools {
    margin-bottom: 3.5rem;
    ul {
      @include flexbox;
      justify-content: space-between;
      list-style: none;
      text-align: center;
      li {
        position: relative;
        width: 33.333%;
        font-size: 2.8rem;
        font-weight: bold;
        color: $primarayColor;
      }
      li + li:before {
        content: '+';
        position: absolute;
        display: block;
        top: 50%;
        left: -1rem;
        transform: translateY(-50%);
        color: $primarayColor;
      }
    }
    img {
      display: block;
      height: 14rem;
      margin: 0 auto 2.5rem;
    }
  }
}
.portfolios {
  @include contentsWrap;
  h2 {
    @include texttype1;
    margin-bottom: 2rem
  }
  > ul {
    @include flexbox;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    list-style: none;
    li {
      position: relative;
      width: 19%;
      margin: .5%;
      color: $primarayColor;
      transition: 0.4s ease all;
      a {
        display: block;
        width: 100%;
        height: 100%;
        .image {
          width: 100%;
          height: 350px;
          border-radius: .6rem;
          overflow:hidden;
          transition: .2s ease all;
          img {
            position: relative;
            display: block;
            width: 100%;
            top: 50%;
            transform: translateY(-50%)
          }
        }
        .desc {
          @include texttype2;
          font-weight: 700;
        }
      }
      h2 {
        @include texttype2;
      }
      p {
        @include texttype3;
      }
      .hashtags {
        @include flexbox;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: .6rem .5rem;
        text-align: left;
        justify-content: left;
        font-size: 1.4rem;
        opacity: 0;
        transition: .3s ease all;
        span {
          display: block;
          margin-right: 1rem;
          padding: .4rem;
          background: $pointColor;
          color: $bgColor;
          border-radius: .6rem;
        }
      }
      &:hover .image {
        position: relative;
        transform: scale(1.07);
        box-shadow: 0 0 0 3px #4fc497;
        z-index: 999;
      }
    }

  }
}
.listsup {
  @include contentsWrap;
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5rem;
    caption {
      overflow: hidden;
      white-space: nowrap;
      clip: rect(1px,1px,1px,1px);
      clip-path: inset(50%);
      width: 1px;
      height: 1px;
      margin: 0 0 -1px;
      padding: 0;
      border: 0;
    }
    thead th {
      @include texttype2;
      padding: 1.4rem 0;
      color: #fff;
      background: $pointColor;
      border:1px solid $pointColor;
      font-weight: 400;
    }
    tbody th {
      padding: 1.4rem 0;
      border:1px solid $primarayColor;
      border-left: none;
      font-weight: 400;
      border-bottom: 1px solid $pointColor;
    }
    tbody td {
      border:1px solid $primarayColor;
      @include texttype3;
      font-weight: 400;
      border-bottom: 1px solid $pointColor;
      &:last-child {
        border-right: none;
      }
    }
  }
}