$bgColor : #fff;
$pointColor: #000;
$primarayColor : #333;
$secondaryColor: #fff;
$error: #b71c1c;


:root {
    font-size: 62.5%;
}

@mixin baseColors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin contentsWrap {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 5rem;
}
@mixin texttype1 {
    font-size: 3.4rem;
    line-height: 4rem;
}
@mixin texttype2 {
    font-size: 2.4rem;
    line-height: 3rem;
}
@mixin texttype3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*[class].__hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
}
html,
body {
    width: 100%;
}
body {
    overflow-y: scroll;
    background: $bgColor;
    color: $pointColor;
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.grid {
    @include flexbox;
    align-items: center;
    > div {
        font-size: 1.8rem;
        padding: 4rem 0;
        text-align: left;
        h1 {
            font-size: 2.4rem;
        }
        p {
            font-size: 1.8rem;
        }
    }
}
.grid.-col2 {
    @include flexbox;
    > div {
        width: 50%;
    }
}

button.viewmore {
    margin-top: 2rem;
    display: inline-block;
    width: 35rem;
    height: 5rem;
    font-size: 1.8rem;
    color: $pointColor;
    background: transparent;
    color: $pointColor;
    border: 2px solid $pointColor;
    border-radius: .6rem;
    cursor: pointer;
    transition: .4s ease all;
    &:hover {
        border: 2px solid $pointColor;
        box-shadow: 6px 6px $pointColor;
        background: $pointColor;
    }
}