$bgColor : #fff;
$textColor: #000;
$pointColor : #0EC8B9;
$error: #b71c1c;
$white: #fff;


:root {
    font-size: 62.5%;
}
a {
    color: #000;
    text-decoration: none;
}
::selection {
    background: $pointColor;
    color: #fff;
}

@mixin baseColors {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin contentsWrap {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
@mixin texttype1 {
    font-size: 5.2rem;
    letter-spacing: .075rem;
    line-height: 1.4;
}
@mixin texttype2 {
    font-size: 2.4rem;
    line-height: 1.4;
}
@mixin texttype3 {
    font-size: 1.8rem;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*[class].__hidden {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    color: $textColor;
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
    background: $bgColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.grid {
    @include flexbox;
    align-items: center;
    > div {
        padding: 4rem 0;
        font-size: 1.8rem;
        text-align: left;
        h1 {
            font-size: 2.4rem;
        }
        p {
            font-size: 1.8rem;
        }
    }
}
.grid.-col2 {
    @include flexbox;
    > div {
        width: 50%;
    }
}
.scrollbar-track{
    transition: .3s ease all;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 7px 13px;
    border-radius: 10px;
    color: $white;
    background: $pointColor;
    border: 2px solid $pointColor;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
}
.button.viewmore {
    display: inline-block;
    width: 35rem;
    height: 5rem;
    margin-top: 2rem;
    border: 2px solid $pointColor;
    border-radius: .6rem;
    color: $pointColor;
    font-size: 1.8rem;
    background: transparent;
}
.button.viewmore2 {
    display: inline-block;
    width: 35rem;
    height: 5rem;
    margin-top: 2rem;
    border: 2px solid $pointColor;
    border-radius: .6rem;
    color: $pointColor;
    font-size: 1.8rem;
    background: transparent;
}

.button.viewmore3 {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    border-radius: .6rem;
    color: $pointColor;
    font-size: 1.8rem;
    background: $pointColor url(../assets/images/ico_viewmore3.svg) no-repeat center center;
    transition: .3s ease all;
    &:hover {
        transform: scale(1.2);
    }
}

.button.contact::before {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    background: url(../assets/images/ico_contact.svg) no-repeat center center;
    margin-right: 7px;
}
.button.link::before {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    background: url(../assets/images/ico_link.svg) no-repeat center center;
    margin-right: 7px;
}
