@charset "utf-8";

.chatbot__wrap{ max-width:460px;height:100%;margin:0 auto;}

/* Top Bar */
.chatbot__head{position:relative;color:#fff;}
.chatbot__head__logo{width:100%;max-width:100%;height: 6.4rem;margin:0 auto;color:#fff;font-size:1.6rem;text-align:center;background:#0b194b url(../images/common/bg_chatbot_head.png) no-repeat center top / cover;}
.chatbot__head__logo h1{width:100%;height:100%;font-size:2rem;line-height:6.4rem;}
.chatbot__head__close{position:absolute;top:1.6rem;right:1.5rem;width:3rem;height:3rem;background:url(../images/common/btn_close.svg) no-repeat center center / 3rem;opacity:1;cursor:pointer;}

/* Contents */
.msg__wrap{box-sizing:border-box;overflow-x:hidden;overflow-y:scroll;height: calc(100% - 16.4rem);padding:2rem 1.5rem;background:#e8e8e8;}
.msg__wrap .chatbot__profile{display:flex;align-items:flex-start;}
.msg__wrap .chatbot__profile p{margin-top:.3rem; font-size: 1.5rem; font-weight: 500;}
.msg__wrap .chat__box .chat__contents{display:flex;position:relative;align-items:flex-end;width:100%;/* flex-wrap: wrap; */}
.msg__wrap .ico__chatbot{width:3rem;height:3rem;margin-right:1rem;background:url(../images/common/ico_chatbot.png) no-repeat center center / 3rem;}
.msg__wrap .chat__box.left .chat__contents {margin-top: -.5rem;}
.msg__wrap .chat__box.left .chat__text{min-width: 26rem;max-width:calc(100% - 9rem);margin-left:3.8rem;border:1px solid #ccc;border-top-left-radius:0;word-break:break-all;}
.msg__wrap .chat__box.right .chat__contents {flex-direction: row-reverse;}

.msg__wrap .chat__box .chat__contents.col-3 {display: block;}
.msg__wrap .chat__box .chat__contents.col-3 .chat__text {min-width: unset; max-width: calc(100% - 4rem);}
.msg__wrap .chat__box .chat__contents.col-3 .button__wrap .button {width: 32.4%;} 
.msg__wrap .chat__box .chat__contents.col-3 .chat__time { margin-top:.8rem; margin-left: 4rem;} 

.msg__wrap .chat__box.right .chat__text{max-width:calc(100% - 19rem);margin-top:0;overflow-wrap:break-word;}
.msg__wrap .chat__result {margin-top: 1rem;}
.msg__wrap .result__image {text-align: center;}
.msg__wrap .result__image + .result__image {margin-left: 1rem;}
.msg__wrap .result__image img{max-width:100%; margin: 0 auto;}
.msg__wrap .result__data { color: #666;font-size: 1.5rem;}
.msg__wrap .result__image + .result__data {margin-top: 1rem;}
.msg__wrap .result__box .result__image {padding: 0 4rem;}

/* 대화 상자 */
.chat__box{width:100%;}
.chat__box .chat__text {font-size:1.5rem;}
.chat__box.left .chat__text{border-radius:0 2rem 2rem 2rem;color:#000;}
.chat__box.right .chat__text{border-radius:2rem 0 2rem 2rem;color:#fff; background:#253862;}
.chat__box + .chat__box{margin-top:2rem;}
.chat__text{box-sizing:border-box;max-width:calc(100% - 16px);padding:10px 12px;border-radius:15px;font-size:1rem;word-break:keep-all;background:#FFF;}
.chat__time{min-width:5.5rem;margin:0 1rem;color:#000;font-size:1.2rem;}

/* 대화 상자 리스트형 */
.msg__wrap .chat__list { margin-top: 1rem;list-style: none;}
.msg__wrap .chat__list button {display: block; width: 100%; padding: .3rem 0; color: #000; font-size: 1.4rem; text-align: left; background: transparent;}

/* 대화 상자 테이블 */
.chat__table { width: 100%;border-collapse: collapse;}
.chat__table th,
.chat__table td { padding:1rem .5rem;  border-bottom: 1px solid #ccc;font-size: 1.4rem; font-weight: 400; text-align: left;}
.chat__table th{ vertical-align: top; color: #000; background: #f5f5f5;}
.chat__table td{border-left: 1px solid #ccc; color: #666;}
.chat__table tr:first-child, th
.chat__table tr:first-child  td{border-top: 1px solid #000}
.chat__desc { color: #666;font-size: 1.4rem;}
.chat__table--link {display: block; float: right; margin-top: .5rem; color:#253862;}
.chat__table--link:after {content: ''; display: block; clear: both; width: 100%;}

/* 이미지 */
.result__box.img__wrap {display: flex;justify-content: center; margin: 1rem auto 0;} 
.result__box.img__wrap .result__image {overflow: hidden;width: 48%;max-width: 10rem;text-align: center;} 
.result__box.img__wrap .result__image img{ display: block;border: 1px solid #ccc; border-radius: 1.5rem;} 
.result__box.img__wrap .result__image .-desc {margin-top: .5rem; color: #666; font-size: 1.4rem;}
.msg__wrap .result__box.img__wrap .result__image {padding: 0;}

/* 슬라이더 */
.slider__wrap {overflow: hidden;position: relative;margin-top: 1rem;}
.slider__wrap .button__wrap{margin-top: 0;padding: 0 2.5rem;}
.slider__wrap .slider__controls button{position: absolute;top: calc(50% - 1rem);z-index: 99;}
.slider__wrap .slider__controls button.swiper-button-disabled{opacity: .55;}
.slider__wrap .slide_l { left: -.7rem;width: 2.8rem; height: 2.8rem; background: url(../images/common/ico_slide_l.svg) no-repeat center center / 100%;}
.slider__wrap .slide_r { right: -.7rem;width: 2.8rem; height: 2.8rem; background: url(../images/common/ico_slide_r.svg) no-repeat center center / 100%;}
.slider__wrap .slider.result__box .result__image {padding: 0;}
.result__box.slider {/* display: flex; */justify-content: center;margin: 0 auto;} 
.result__box.slider .result__image {overflow: hidden;width: 48%;max-width: 10rem;text-align: center;} 
.result__box.slider .result__image img{ display: block;border: 1px solid #ccc; border-radius: 1.5rem;} 
.result__box.slider .result__image .-desc {margin-top: .5rem; color: #666; font-size: 1.4rem;}
.result__box.slider .slide__sm .swiper-slide {display: flex; justify-content: center; padding: 0 3rem;}
.tit__slide__sm { margin-bottom: .5rem;font-size: 1.5rem;}
/* 버튼 */
.button__wrap{display:flex;position:relative;justify-content:space-between;flex-wrap:wrap;margin-top:1rem;}
.button{display:flex;align-items:center;justify-content:center;width:49%;margin: 1rem 0 0;padding:1rem .2rem;border:1px solid #cfb848;border-radius:.6rem;color:#555;font-size:1.4rem;text-align:center;word-break:break-all;background:#fff;}
.button.-full{width:100%;border-color:#cfb848;color:#fff;background:#cfb848;}
.button:hover{border-color:#cfb848;color:#fff;background:#cfb848;}
.button.-full:hover{display:block;width:100%;border-color:#cfb848;color:#cfb848;background:#fff;}

/* 입력창 */
.chat__input__wrap{ display:flex;position: relative; z-index: 990;width:100%;max-width:460px;height:50px;margin:0 auto;border:1px solid #d3d5da;border-left:0;background:#fff;}
.chat__input__msg{display:flex;align-items:center;width:calc(100% - 9rem);height:100%;margin:0;margin-right:5px;margin-left:5px;}
.chat__input__msg input[type=text]{box-sizing:border-box;overflow:hidden;width:100%;height: 4.8rem;padding:5px;padding-right:15px;padding-left:15px;border:none;font-size: 1.5rem;}
.chat__input__more{flex:1;height:100%;margin:0;border-radius:0;background:#fff url(../images/common/ico_more.png) no-repeat center center / 30px;}
.chat__input__submit{flex:1;height:100%;margin:0;background:url(../images/common/ico_send.png) no-repeat center center / 17px;}

/* 입력창 - 자동완성 */
.chat__autocomplete{display:none;position:fixed;top:0;left:0;z-index:9999;width:100%;height: calc(100% - 5rem);background:rgba(0,0,0,.5);}
.chat__autocomplete ul{overflow: auto;position: absolute;bottom: 0;left: 0;width:100%;height: auto;max-height: 20rem;padding: .5rem 2rem;border-radius: 2rem 2rem 0 0;list-style: none;background: #f4f5f9;}
.chat__autocomplete li {display: block; }
.chat__autocomplete li + li {border-top: 1px solid #ccc;}
.chat__autocomplete li a {display: block; padding: 1rem 0; color: #000; font-weight: 400;}
.chat__autocomplete li a strong{color: #253862; font-weight: 700;}

/* 모바일 키보드 입력 시*/
.focused {position: fixed; overscroll-behavior: contain;}

/* 챗봇 서브 */
.chatbot__subhead { display: flex; align-items: center; justify-content: space-between;width: 100%; padding: 1rem 1.5rem;}

.button.-faq { justify-content: flex-start;width: 13rem; height: 3rem; margin: 0; padding-left: 1rem; border: 1px solid #253862; border-radius: 1.5rem; color: #000; text-align: left; background: url(../images/common/btn_arrow_dw_md.png) no-repeat right 1.5rem center / .9rem;}
.button.-faq:hover, .button.-faq:focus { color: #000;background-color: #fff;}

/* 어코디언 */
.accordian__wrap {overflow-x: hidden;overflow-y: auto;max-height: 30rem;padding: .5rem 2rem;}
.accordian__wrap,
.accordian__wrap ul {list-style: none;}
.accordian__wrap button {display: block;align-items: center;width: 100%;margin-top: 0;margin-bottom: 1rem;padding: 1.2rem 0;border-bottom: 1px solid #cfb848;color: #000;font-size: 1.6rem;text-align: left;}
.accordian__wrap a {display: block; width: 100%; padding: .5rem 0;}
.accordian__wrap .accordian__box > button {font-weight: 700; background: url(../images/common/btn_arrow_dw_md.png) no-repeat right center / 1.5rem;}
.accordian__wrap .accordian__box > button.active {background: url(../images/common/btn_arrow_up_md.png) no-repeat right center / 1.5rem;}
.accordian__item {display: none;}
.accordian__item a {font-size: 1.5rem;}
.accordian__wrap .accordian__box + .accordian__box {margin-top: 2rem;}

/* 다이얼로그 */
.dialong__toggler {width: 100%;height: 5rem;background: url(../images/common/btn_arrow_up_lg.png) no-repeat center center / 1.8rem;}
.dialog.__active{display:-ms-flexbox;display:flex;align-items:center;justify-content:center;-ms-flex-pack:center;-ms-flex-align:center;}
.dialog{display:none;position:fixed;top:0;left:0;z-index:9999;width:100%;height:100%;background:rgba(0,0,0,.5);}
.dialog.more__contents {align-items: flex-end;}
.dialog__detail{overflow-y:auto;position:relative;width: 100%;max-width:460px;height:auto;min-height: 50%;max-height: 46rem;border-top-left-radius: 2rem;border-top-right-radius: 2rem;background:#fff;/* max-height:100%; *//* padding:2rem 3rem; */}
.dialog.faq__contents {top: 11rem;align-items: flex-start;height: auto;background: transparent;}
.dialog.faq__contents .dialog__detail {min-height: 25rem;max-height: 40rem; border: 1px solid #ccc;border-radius: 0;}
.dialog.faq__contents .dialong__toggler{background:url(../images/common/btn_arrow_dw_lg.png) no-repeat center center / 1.8rem;}
.dialog.faq__contents .accordian__wrap {max-height: 100%;}
.dialog__txt { margin: 1rem 0 0;padding: 0 2rem;}
.iphone.focused .chat__autocomplete{position: fixed; top: auto; bottom: 10rem; left: 0; width: 100%;}
.iphone.focused .chat__autocomplete ul {position: fixed; bottom: 10rem; left: 0;}
.iphone.focused .chat__input__wrap{position: fixed; bottom: 0; left: 0; width: 100%;}

@media screen and (max-width:400px) {
    .msg__wrap .chat__box.left .chat__contents {
        display: block;
    }
    .msg__wrap .chat__box.left .chat__contents .chat__text {
        min-width: unset;
        max-width: calc(100% - 5rem);
    }
    .msg__wrap .chat__box.left .chat__contents .chat__time {
        margin-top: 0.8rem;
        margin-left: 4rem;
    }
}