<!-- footer -->
<footer class="mtbs">
    <div class="footer__inner">
        <div class="ft__links">
            <ul class="grid">
                <li>
                    <a href="http://www.mcst.go.kr" target="_blank" title="새 창 열림">
                        <img src="assets/images/common/ft_logo_01.png" alt="문화체육관광부" />
                    </a>
                </li>
                <li>
                    <a href="http://www.kcisa.kr" target="_blank" title="새 창 열림">
                        <img src="assets/images/common/ft_logo_02.png" alt="한국문화정보원" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="grid -jcsb">
            <div class="grid">
                <div class="ft_logo_cp">
                    <img src="../assets/images/common/ft_logo_mt.png" alt="">
                </div>
                <div class="copyrights">
                    <address>
                        <p>서울특별시 마포구 월드컵북로 400 문화콘텐츠센터 6층·8층 한국문화정보원</p>
                        <p>E-mail : contest@kcisa.kr Tel:02-337-2555 (평일 09:00 ~ 18:00)</p>
                    </address>
                </div>
            </div>
            <div>
                <a href="https://www.culture.go.kr" target="_blank" title="새 창 열림">
                    <img src="assets/images/common/ft_logo_03.png" alt="문화포털" />
                </a>
                <a href="https://www.kogl.or.kr" target="_blank" title="새 창 열림" class="ml10">
                    <img src="assets/images/common/ft_logo_04.png" alt="OPEN SOURCE" />
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->