
    <!-- 헤더 영역 -->
    <header class="mtbs">
        <!-- 컨텐츠 바로가기 -->
        <div class="skip">
            <a href="#skipmain" class="skip__link">본문 바로가기</a>
        </div>
        <!-- //컨텐츠 바로가기 -->

        <!-- 메뉴바 -->
        <div class="gnb grid" role="menubar">
            <div class="logo">
                <a href="/"><span class="_hidden">문화<em class="spacehalf"></em>공공데이터광장</span></a>
            </div>
            <nav class="gnb__aligner" aria-label="전체메뉴">
                <div>
                    <ul class="gnb__groups grid">
                        <!-- 메뉴 그룹 1 -->
                        <li>
                            <button type="button" id="menu__01" class="menu__button __current">오픈 API</button>
                            <div id="menu__contents__01" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">데이터소개</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">문화예술</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">공공데이터포털 API</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">국가통계포털 API</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">활용신청 안내</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 1 -->

                        <!-- 메뉴 그룹 2 -->
                        <li>
                            <button type="button" id="menu__02" class="menu__button">분석 시각화</button>
                            <div id="menu__contents__02" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">문화미디어정보 분석</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">이슈인포그래픽/테마분석리포트</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 2 -->

                        <!-- 메뉴 그룹 3 -->
                        <li>
                            <button type="button" id="menu__03" class="menu__button">문화활용컨텐츠</button>
                            <div id="menu__contents__03" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">공지사항</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">데이터(API)문의</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">사용자 의견 수렴</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">유형별게시판</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">활용사례</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">발전협의회/포럼</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 3 -->

                        <!-- 메뉴 그룹 4 -->
                        <li>
                            <button type="button" id="menu__04" class="menu__button">이용안내</button>
                            <div id="menu__contents__04" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">문화<em class="spacehalf"></em>공공데이터광장 소개</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">서비스이용약관</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">연계기관</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 4 -->
                    </ul>

                    <button type="button" class="gnb__close"><span class="_hidden">닫기</span></button>
                </div>
            </nav>
        </div>
        <!-- //메뉴바 -->

        <!-- 통합 검색 -->

        <!-- 검색 트리거 -->
        <button type="button" class="search__trigger"><span class="_hidden">통합검색창 열기</span></button>
        <!-- //검색 트리거 -->

        <!-- 통합 검색 다이얼로그 -->
        <div class="dialog -search" id="total_search" role="dialog">
            <div class="search__wrap">
                <label for="sch__total" class="_hidden">검색어를 입력하세요.</label>
                <input id="sch__total" type="text" value="" placeholder="검색어를 입력하세요." autocomplete="off">
                <button class="btn__search"><span class="_hidden">검색</span></button>
            </div>
        </div>
        <!-- //통합 검색 다이얼로그 -->
        
        <!-- 통합 검색  -->

        <!-- 모바일 트리거 -->
        <button class="mo__trigger"><span class="_hidden">메뉴 열기</span></button>
        <!-- 모바일 트리거 -->
    </header>
    <!-- // 헤더 영역 -->