
    <!-- 헤더 영역 -->
    <header class="cp">
        <!-- 컨텐츠 바로가기 -->
        <div class="skip">
            <a href="#skipmain" class="skip__link">본문 바로가기</a>
        </div>
        <!-- //컨텐츠 바로가기 -->

        <!-- 메뉴바 -->
        <div class="gnb grid" role="menubar">
            <div class="logo">
                <a href="/"><span class="_hidden">문화<em class="spacehalf"></em>공공데이터광장</span></a>
            </div>
            <nav class="gnb__aligner" aria-label="전체메뉴">
                <div>
                    <ul class="gnb__groups grid">
                        <!-- 메뉴 그룹 1 -->
                        <li>
                            <button type="button" id="menu__01" class="menu__button __current">경진대회소개</button>
                            <div id="menu__contents__01" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">경진대회 개요</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">경진대회 요강</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 1 -->

                        <!-- 메뉴 그룹 2 -->
                        <li>
                            <button type="button" id="menu__02" class="menu__button">경진대회접수</button>
                            <div id="menu__contents__02" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">접수방법</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">접수하기</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">접수화면</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 2 -->

                        <!-- 메뉴 그룹 3 -->
                        <li>
                            <button type="button" id="menu__03" class="menu__button">문화<em class="spacehalf"></em>공공데이터 소개</button>
                            <div id="menu__contents__03" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">문화<em class="spacehalf"></em>공공데이터 활용안내</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">우수활용사례</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 3 -->

                        <!-- 메뉴 그룹 4 -->
                        <li>
                            <button type="button" id="menu__04" class="menu__button">정보공유</button>
                            <div id="menu__contents__04" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">국민의견공개</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">유사 경진대회 정보</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 4 -->

                        <!-- 메뉴 그룹 5 -->
                        <li>
                            <button type="button" id="menu__05" class="menu__button">이전 경진대회</button>
                            <div id="menu__contents__05" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">2020</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">2019</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">2018</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">2017</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">2016</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">2015</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">2014</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 5 -->

                        <!-- 메뉴 그룹 6 -->
                        <li>
                            <button type="button" id="menu__05" class="menu__button">경진대회 소식</button>
                            <div id="menu__contents__05" class="menu__panel">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">공지사항</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="javascript:void(0);" target="_self" class="__link">Q&A</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- //메뉴 그룹 6 -->
                    </ul>

                    <button type="button" class="gnb__close"><span class="_hidden">닫기</span></button>
                </div>
            </nav>
        </div>
        <!-- //메뉴바 -->

        <!-- 통합 검색 -->

        <!-- 검색 트리거 -->
        <button type="button" class="search__trigger"><span class="_hidden">통합검색창 열기</span></button>
        <!-- //검색 트리거 -->

        <!-- 통합 검색 다이얼로그 -->
        <div class="dialog -search" id="total_search" role="dialog">
            <div class="search__wrap">
                <label for="sch__total" class="_hidden">검색어를 입력하세요.</label>
                <input id="sch__total" type="text" value="" placeholder="검색어를 입력하세요." autocomplete="off">
                <button class="btn__search"><span class="_hidden">검색</span></button>
            </div>
        </div>
        <!-- //통합 검색 다이얼로그 -->
        
        <!-- 통합 검색  -->

        <!-- 모바일 트리거 -->
        <button class="mo__trigger"><span class="_hidden">메뉴 열기</span></button>
        <!-- 모바일 트리거 -->
    </header>
    <!-- // 헤더 영역 -->